.foods1{
  background-image: url(../img/cook-food-kitchen-eat-54455.jpg);
  width: 100%;
  min-height: 50vh;
  background-size:125%;
  background-repeat: no-repeat;
}

.title1{
  color: #FFFFFF;
  font-size: 7vh;
  text-align: center;
  line-height: 4;
}

.foods2 {
  background-image: url(../img/cook-food-kitchen-eat-54455.jpg);
  width: 100%;
  min-height: 70vh;
  background-size:100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.logo {
  width: 2.4em;
  margin-top: -0.6em;
}

.home{
  margin-top: 10.5vh;
}

.profile{
  margin-top: 10.5vh;
  width: 80%;
  min-height: 10vh;
  -webkit-box-shadow: 5px 5px 26px -3px rgba(158,158,158,0.91);
  -moz-box-shadow: 5px 5px 26px -3px rgba(158,158,158,0.91);
  box-shadow: 5px 5px 26px -3px rgba(158,158,158,0.91);
}
