

.foods1{
  background-image: url(../img/cook-food-kitchen-eat-54455.jpg);
  width: 100%;
  min-height: 50vh;
  background-size: 125%;
  background-repeat: no-repeat;
}

.title1 {
  color: #FFFFFF;
  font-size: 7vh;
  text-align: center;
  line-height: 4;
}

.foods2 {
  background-image: url(../img/cook-food-kitchen-eat-54455.jpg);
  width: 100%;
  min-height: 70vh;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.logo {
  width: 2.4em;
  margin-top: -0.6em;
}

.home {
  margin-top: 10.5vh;
}

.profile {
  margin-top: 10.5vh;
  width: 80%;
  min-height: 10vh;
  -webkit-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  -moz-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
}

/*Modal*/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=email], input[type=password], input[type=email2], input[type=password2] {
  height: 2em;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
}

.login-help {
  padding-top: 1em;
}

.fondoModal1 {
  background-color: #08AC9D
}

.loginmodal-container h4{
  text-align: center;
  padding-bottom: 1.2em;
}
