/*Título segunda sección*/

.title1 {
  color: #FFFFFF;
  font-size: 7vh;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

/*Párrafo segunda sección*/

#about p {
  color: #fff;
  font-size: 2em;
}

/*Imagen segunda sección*/

.foods2 {
  background-image: url(../img/cook-food-kitchen-eat-54455.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/*Sección inicio*/

.home {
  margin-top: 10.5vh;
}

/*Cuadro para agregar receta*/

.box {
  margin-top: 10.5vh;
  width: 60%;
  margin-left: 20%;
  min-height: 10vh;
  padding: 3.5vh;
  -webkit-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  -moz-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
}

.box2 {
  margin-top: 10.5vh;
  width: 65%;
  margin-left: 20%;
  min-height: 10vh;
  padding: 3.5vh;
  -webkit-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  -moz-box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
  box-shadow: 5px 5px 26px -3px rgba(158, 158, 158, 0.91);
}

/*Título y receta*/

.homerow2 {
  padding-left: 5em;
}

.upload {
  margin-bottom: 1em;
}

.post {
  margin-top: 2em;
}

.photobox{
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 30em;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*Tercera sección perfil usuario*/
#profile2 {
  padding-top:30px;
}

.glyphicon {
  margin-bottom: 10px;margin-right: 10px;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}


/*Imagenes recetas*/
.img-edit img {
  max-width: 100%;

}
